<!doctype html>
<html lang="en">
  <head>
    <script type="text/javascript" src="/js/sw-register.js"></script>
    <title>DnevnikClient</title>
      <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta http-equiv="Cache-Control" content="max-age=0" />
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
      <meta name="robots" content="NONE" />
      <meta name="keywords" content="дневник ру, дневник, клиент дневник ру, клиент дневник, dnevnik.ru" />
      <meta name="description" content="Облегченная версия Дневник.Ру." />
      <meta name="author" content="limitedeternity" />
      <meta name="mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-capable" content="yes" />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/js.cookie.min.js"></script>
    <script type="text/javascript" src="/js/jquery.longpress.js"></script>
    <script type="text/javascript" src="/js/dnevnik.operator.js"></script>
    <link rel="stylesheet" href="/css/Roboto.css">
    <link rel="stylesheet" href="/css/md_icons.css">
    {% if request.cookies.get('Theme') == "Teal" %}
        <meta name="msapplication-TileColor" content="teal">
        <meta name="msapplication-navbutton-color" content="teal">
        <meta name="theme-color" content="teal">
        <link rel="stylesheet" href="/css/material.teal-blue.min.css">
        <link rel="stylesheet" href="/css/styles-teal.css">
    {% elif request.cookies.get('Theme') == "Deep Orange" %}
        <meta name="msapplication-TileColor" content="#FF5722">
        <meta name="msapplication-navbutton-color" content="#FF5722">
        <meta name="theme-color" content="#FF5722">
        <link rel="stylesheet" href="/css/material.deep_orange-blue.min.css">
        <link rel="stylesheet" href="/css/styles-deep_orange.css">
    {% elif request.cookies.get('Theme') == "Deep Purple" %}
        <meta name="msapplication-TileColor" content="#673AB7">
        <meta name="msapplication-navbutton-color" content="#673AB7">
        <meta name="theme-color" content="#673AB7">
        <link rel="stylesheet" href="/css/material.deep_purple-blue.min.css">
        <link rel="stylesheet" href="/css/styles-deep_purple.css">
    {% elif request.cookies.get('Theme') == "Pink" %}
        <meta name="msapplication-TileColor" content="#E91E63">
        <meta name="msapplication-navbutton-color" content="#E91E63">
        <meta name="theme-color" content="#E91E63">
        <link rel="stylesheet" href="/css/material.pink-blue.min.css">
        <link rel="stylesheet" href="/css/styles-pink.css">
    {% else %}
        <meta name="msapplication-TileColor" content="teal">
        <meta name="msapplication-navbutton-color" content="teal">
        <meta name="theme-color" content="teal">
        <link rel="stylesheet" href="/css/material.teal-blue.min.css">
        <link rel="stylesheet" href="/css/styles-teal.css">
    {% endif %}
    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <meta name="msapplication-starturl" content="/">
    <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
    <meta name="msapplication-config" content="/config/browserconfig.xml" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="manifest" href="/config/manifest.json" />
  </head>
  <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
          <h3>DnevnikClient</h3>
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
          <a href="#overview" class="mdl-layout__tab is-active">Главная</a>
          <a href="#diary" class="mdl-layout__tab">Дневник</a>
          <a href="#stats" class="mdl-layout__tab">Статистика</a>
          <a href="#summary" class="mdl-layout__tab">Итоговые</a>
          <a href="#settings" class="mdl-layout__tab">Настройки</a>
          <a href="/logout" class="mdl-layout__tab">Выход</a>
        </div>
      </header>
      <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="overview">
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--4dp">
            {% if request.cookies.get('Theme') == "Teal" %}
                <header class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white"></header>
            {% elif request.cookies.get('Theme') == "Deep Orange" %}
                <header class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--deep-orange-100 mdl-color-text--white"></header>
            {% elif request.cookies.get('Theme') == "Deep Purple" %}
                <header class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--deep-purple-100 mdl-color-text--white"></header>
            {% elif request.cookies.get('Theme') == "Pink" %}
                <header class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--pink-100 mdl-color-text--white"></header>
            {% else %}
                <header class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white"></header>
            {% endif %}
            <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-card__supporting-text">
                {% if user %}
                    <h4>Здравствуйте, {{ user }}!</h4>
                    Спасибо, что решили протестировать beta-версию DnevnikClient. Я очень это ценю. <br>
                    Обо всех ошибках просьба сообщать, открывая Issue в репозитории. <br>
                    Надеюсь, вам нравится клиент, и вы довольны его функционалом и проделанной мной работой. <br>
                    Напоминаю, что проект - Open Source, так что вы в любой момент можете помочь разработке. <br>
                    By @limitedeternity
                {% else %}
                    <h4>О проекте</h4>
                    Этот проект - тестовое решение для проверки некоторых аспектов интеграции проектов без наличия доступа к API. <br>
                    На данном примере - Дневник.Ру. <br> DnevnikClient - облегченная версия Дневник.Ру, расчитанная на просмотр данных, помещенная в рамки
                    Material Design. Клиент предоставляет функционал ровно в такой мере, которая требуется ученикам. Без тяжелого обвеса вроде ReactJS,
                    избыточных элементов интерфейса и функционала "соцсети". <br> Ничего лишнего. <br>
                    Исходный код доступен в моем репозитории GitHub. <br>
                    By @limitedeternity
                {% endif %}
              </div>
            </div>
          </section>
        </div>
        <div class="mdl-layout__tab-panel" id="diary">
          <section class="section--center mdl-grid mdl-grid--no-spacing">
            <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--4dp">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h4 class="mdl-cell mdl-cell--12-col">Дата</h4>
                <form action="/dnevnik" method="post" id="dnevnik-date">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input" type="text" name="day" id="day" pattern="^([1-9]|1[0-9]|2[0-9]|3[01])$" value="" autocomplete="off" />
                      <label class="mdl-textfield__label" for="day">День (1-31)</label>
                  </div>
                  <div style="display:block; height: 1px; clear:both;"></div>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input" type="text" name="month" id="month" pattern="^([1-9]|1[012])$" value="" autocomplete="off" />
                      <label class="mdl-textfield__label" for="month">Месяц (1-12)</label>
                  </div>
                  <div style="display:block; height: 15px; clear:both;"></div>
                  <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="last_year">
                       <input type="checkbox" id="last_year" name="last_year" value="1" class="mdl-switch__input">
                       <span class="mdl-switch__label">Прошлое полугодие?</span>
                  </label>
                  {% if opts %}
                      <div style="display:block; height: 25px; clear:both;"></div>
                      {% for child in opts %}
                          {% set counter = loop.index0 %}
                          {% for name, id in child.items() %}
                              <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="child_dnevnik{{ counter }}">
                              {% if counter == 0 %}
                                  <input type="radio" id="child_dnevnik{{ counter }}" class="mdl-radio__button" name="child" value="{{ id }}" checked>
                              {% else %}
                                  <input type="radio" id="child_dnevnik{{ counter }}" class="mdl-radio__button" name="child" value="{{ id }}">
                              {% endif %}
                              <span class="mdl-radio__label">{{ name.split(' ')[0] }} {{ name.split(' ')[1] }}</span>
                              </label>
                          {% endfor %}
                          <div style="display:block; height: 5px; clear:both;"></div>
                      {% endfor %}
                      <div style="display:block; height: 15px; clear:both;"></div>
                  {% else %}
                  <div style="display:block; height: 35px; clear:both;"></div>
                  {% endif %}
                  <button type="button" id="diary-submit" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--primary">
                      <i class="material-icons">arrow_forward</i>
                      <span class="visuallyhidden">Next</span>
                      <span class="mdl-button__ripple-container">
                          <span class="mdl-ripple is-animating" style="width: 160.392px; height: 160.392px; transform: translate(-50%, -50%) translate(14px, 16px);"></span>
                      </span>
                  </button>
                </form>
              </div>
            </div>
          </section>
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--4dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing" id="dnevnik-out">
                <h4 class="mdl-cell mdl-cell--12-col">Дневник</h4>
                    <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                        <i class="material-icons mdl-list__item-avatar mdl-color--primary" style="font-size:32px; padding-top:2.5px; text-align:center;"></i>
                    </div>
                    <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                        <h5>Данные отсутствуют.</h5>
                        Похоже, что Вы еще ничего не запросили. <br>
                        Но мы можем исправить это. <br>
                        Заполните форму выше, чтобы получить данные за конкретный день. <br>
                        Или отправьте пустую форму, чтобы получить данные за сегодня. <br>
                    </div>
                </div>
            </div>
          </section>
        </div>
        <div class="mdl-layout__tab-panel" id="stats">
          <section class="section--center mdl-grid mdl-grid--no-spacing">
            <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--4dp">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h4 class="mdl-cell mdl-cell--12-col">Период</h4>
                <form action="/stats" method="post" id="dnevnik-stats">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input" type="text" name="term" id="term" pattern="^([1-4]{1})$" value="" autocomplete="off" />
                      <label class="mdl-textfield__label" for="term">Семестр/Четверть (1-4)</label>
                  </div>
                  <div style="display:block; height: 5px; clear:both;"></div>
                  {% if opts %}
                      {% for child in opts %}
                          {% set counter = loop.index0 %}
                          {% for name, id in child.items() %}
                              <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="child_stats{{ counter }}">
                              {% if counter == 0 %}
                                  <input type="radio" id="child_stats{{ counter }}" class="mdl-radio__button" name="child" value="{{ id }}" checked>
                              {% else %}
                                  <input type="radio" id="child_stats{{ counter }}" class="mdl-radio__button" name="child" value="{{ id }}">
                              {% endif %}
                              <span class="mdl-radio__label">{{ name.split(' ')[0] }} {{ name.split(' ')[1] }}</span>
                              </label>
                          {% endfor %}
                          <div style="display:block; height: 5px; clear:both;"></div>
                      {% endfor %}
                      <div style="display:block; height: 15px; clear:both;"></div>
                  {% endif %}
                  <button type="submit" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--primary">
                      <i class="material-icons">arrow_forward</i>
                      <span class="visuallyhidden">Next</span>
                      <span class="mdl-button__ripple-container">
                          <span class="mdl-ripple is-animating" style="width: 160.392px; height: 160.392px; transform: translate(-50%, -50%) translate(14px, 16px);"></span>
                      </span>
                  </button>
                </form>
              </div>
            </div>
          </section>
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--4dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing" id="stats-out">
                <h4 class="mdl-cell mdl-cell--12-col">Статистика</h4>
                    <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                        <i class="material-icons mdl-list__item-avatar mdl-color--primary" style="font-size:32px; padding-top:2.5px; text-align:center;"></i>
                    </div>
                    <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                        <h5>Данные отсутствуют.</h5>
                        Похоже, что Вы еще ничего не запросили. <br>
                        Но мы можем исправить это. <br>
                        Заполните форму выше и отправьте ее. <br>
                        Или отправьте пустую форму, чтобы получить данные за текущий период. <br>
                    </div>
                </div>
            </div>
          </section>
        </div>
        <div class="mdl-layout__tab-panel" id="summary">
          <section class="section--center mdl-grid mdl-grid--no-spacing">
            <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--4dp">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h4 class="mdl-cell mdl-cell--12-col">Запрос</h4>
                <form action="/summary" method="post" id="dnevnik-summary">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                  <div style="display:block; height: 5px; clear:both;"></div>
                  {% if opts %}
                      {% for child in opts %}
                          {% set counter = loop.index0 %}
                          {% for name, id in child.items() %}
                              <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="child_summary{{ counter }}">
                              {% if counter == 0 %}
                                  <input type="radio" id="child_summary{{ counter }}" class="mdl-radio__button" name="child" value="{{ id }}" checked>
                              {% else %}
                                  <input type="radio" id="child_summary{{ counter }}" class="mdl-radio__button" name="child" value="{{ id }}">
                              {% endif %}
                              <span class="mdl-radio__label">{{ name.split(' ')[0] }} {{ name.split(' ')[1] }}</span>
                              </label>
                          {% endfor %}
                          <div style="display:block; height: 5px; clear:both;"></div>
                      {% endfor %}
                      <div style="display:block; height: 15px; clear:both;"></div>
                  {% endif %}
                  <button type="submit" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--primary">
                      <i class="material-icons">arrow_forward</i>
                      <span class="visuallyhidden">Next</span>
                      <span class="mdl-button__ripple-container">
                          <span class="mdl-ripple is-animating" style="width: 160.392px; height: 160.392px; transform: translate(-50%, -50%) translate(14px, 16px);"></span>
                      </span>
                  </button>
                </form>
              </div>
            </div>
          </section>
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--4dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing" id="summary-out">
                <h4 class="mdl-cell mdl-cell--12-col">Итоговые</h4>
                    <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                        <i class="material-icons mdl-list__item-avatar mdl-color--primary" style="font-size:32px; padding-top:2.5px; text-align:center;"></i>
                    </div>
                    <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                        <h5>Данные отсутствуют.</h5>
                        Похоже, что Вы еще ничего не запросили. <br>
                        Но мы можем исправить это. <br>
                        Просто отправьте форму выше. <br>
                    </div>
                </div>
            </div>
          </section>
        </div>
        <div class="mdl-layout__tab-panel" id="settings">
          <section class="section--center mdl-grid mdl-grid--no-spacing">
            <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--4dp">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h4 class="mdl-cell mdl-cell--12-col">Цвет</h4>
                <form action="/apply" method="post" id="dnevnik-settings">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                  <div style="display:block; height: 15px; clear:both;"></div>
                  {% if request.cookies.get('Theme') == "Teal" %}
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="deep_orange">
                      <input type="radio" id="deep_orange" name="color" value="Deep Orange" class="mdl-radio__button">
                      <span class="mdl-radio__label">Оранжевый</span>
                    </label>
                    <div style="display:block; height: 15px; clear:both;"></div>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="deep_purple">
                      <input type="radio" id="deep_purple" name="color" value="Deep Purple" class="mdl-radio__button">
                      <span class="mdl-radio__label">Фиолетовый</span>
                   </label>
                   <div style="display:block; height: 15px; clear:both;"></div>
                   <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="teal">
                      <input type="radio" id="teal" name="color" value="Teal" class="mdl-radio__button" checked>
                      <span class="mdl-radio__label">Сине-зеленый</span>
                   </label>
                   <div style="display:block; height: 15px; clear:both;"></div>
                   <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="pink">
                      <input type="radio" id="pink" name="color" value="Pink" class="mdl-radio__button">
                      <span class="mdl-radio__label">Розовый</span>
                   </label>
                  {% elif request.cookies.get('Theme') == "Deep Orange" %}
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="deep_orange">
                      <input type="radio" id="deep_orange" name="color" value="Deep Orange" class="mdl-radio__button" checked>
                      <span class="mdl-radio__label">Оранжевый</span>
                    </label>
                    <div style="display:block; height: 15px; clear:both;"></div>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="deep_purple">
                      <input type="radio" id="deep_purple" name="color" value="Deep Purple" class="mdl-radio__button">
                      <span class="mdl-radio__label">Фиолетовый</span>
                   </label>
                   <div style="display:block; height: 15px; clear:both;"></div>
                   <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="teal">
                      <input type="radio" id="teal" name="color" value="Teal" class="mdl-radio__button">
                      <span class="mdl-radio__label">Сине-зеленый</span>
                   </label>
                   <div style="display:block; height: 15px; clear:both;"></div>
                   <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="pink">
                      <input type="radio" id="pink" name="color" value="Pink" class="mdl-radio__button">
                      <span class="mdl-radio__label">Розовый</span>
                   </label>
                  {% elif request.cookies.get('Theme') == "Deep Purple" %}
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="deep_orange">
                      <input type="radio" id="deep_orange" name="color" value="Deep Orange" class="mdl-radio__button">
                      <span class="mdl-radio__label">Оранжевый</span>
                    </label>
                    <div style="display:block; height: 15px; clear:both;"></div>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="deep_purple">
                      <input type="radio" id="deep_purple" name="color" value="Deep Purple" class="mdl-radio__button" checked>
                      <span class="mdl-radio__label">Фиолетовый</span>
                   </label>
                   <div style="display:block; height: 15px; clear:both;"></div>
                   <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="teal">
                      <input type="radio" id="teal" name="color" value="Teal" class="mdl-radio__button">
                      <span class="mdl-radio__label">Сине-зеленый</span>
                   </label>
                   <div style="display:block; height: 15px; clear:both;"></div>
                   <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="pink">
                      <input type="radio" id="pink" name="color" value="Pink" class="mdl-radio__button">
                      <span class="mdl-radio__label">Розовый</span>
                   </label>
                  {% elif request.cookies.get('Theme') == "Pink" %}
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="deep_orange">
                      <input type="radio" id="deep_orange" name="color" value="Deep Orange" class="mdl-radio__button">
                      <span class="mdl-radio__label">Оранжевый</span>
                    </label>
                    <div style="display:block; height: 15px; clear:both;"></div>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="deep_purple">
                      <input type="radio" id="deep_purple" name="color" value="Deep Purple" class="mdl-radio__button">
                      <span class="mdl-radio__label">Фиолетовый</span>
                   </label>
                   <div style="display:block; height: 15px; clear:both;"></div>
                   <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="teal">
                      <input type="radio" id="teal" name="color" value="Teal" class="mdl-radio__button">
                      <span class="mdl-radio__label">Сине-зеленый</span>
                   </label>
                   <div style="display:block; height: 15px; clear:both;"></div>
                   <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="pink">
                      <input type="radio" id="pink" name="color" value="Pink" class="mdl-radio__button" checked>
                      <span class="mdl-radio__label">Розовый</span>
                   </label>
                  {% else %}
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="deep_orange">
                      <input type="radio" id="deep_orange" name="color" value="Deep Orange" class="mdl-radio__button">
                      <span class="mdl-radio__label">Оранжевый</span>
                    </label>
                    <div style="display:block; height: 15px; clear:both;"></div>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="deep_purple">
                      <input type="radio" id="deep_purple" name="color" value="Deep Purple" class="mdl-radio__button">
                      <span class="mdl-radio__label">Фиолетовый</span>
                   </label>
                   <div style="display:block; height: 15px; clear:both;"></div>
                   <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="teal">
                      <input type="radio" id="teal" name="color" value="Teal" class="mdl-radio__button" checked>
                      <span class="mdl-radio__label">Сине-зеленый</span>
                   </label>
                   <div style="display:block; height: 15px; clear:both;"></div>
                   <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="pink">
                      <input type="radio" id="pink" name="color" value="Pink" class="mdl-radio__button">
                      <span class="mdl-radio__label">Розовый</span>
                   </label>
                  {% endif %}
                  <div id="error"></div>
                  <div style="display:block; height: 35px; clear:both;"></div>
                  <button type="submit" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--primary">
                      <i class="material-icons">check</i>
                      <span class="visuallyhidden">Apply</span>
                      <span class="mdl-button__ripple-container">
                          <span class="mdl-ripple is-animating" style="width: 160.392px; height: 160.392px; transform: translate(-50%, -50%) translate(14px, 16px);"></span>
                      </span>
                  </button>
                </form>
              </div>
            </div>
          </section>
        </div>
      </main>
    </div>
    <script type="text/javascript" src="/js/material.min.js" defer></script>
  </body>
</html>
