<!doctype html>
<html lang="en">
  <head>
    <script type="text/javascript" src="/js/sw-register.js"></script>
    <title>DnevnikClient</title>
      <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
      <meta name="robots" content="NONE" />
      <meta name="keywords" content="дневник ру, дневник, клиент дневник ру, клиент дневник, dnevnik.ru" />
      <meta name="description" content="Облегченная версия Дневник.Ру." />
      <meta name="author" content="limitedeternity" />
      <meta name="mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-capable" content="yes" />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/js.cookie.min.js"></script>
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="manifest" href="/config/manifest.json" />
    <link rel="stylesheet" href="/css/Roboto.css">
    <link rel="stylesheet" href="/css/md_icons.css">
    <link rel="stylesheet" href="/css/material.teal-blue.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
          <h3>DnevnikClient</h3>
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
          <a href="#overview" class="mdl-layout__tab is-active">Главная</a>
          <a href="#diary" class="mdl-layout__tab">Дневник</a>
          <a href="#stats" class="mdl-layout__tab">Статистика</a>
          <a href="#summary" class="mdl-layout__tab">Итоговые</a>
          <a href="/logout" class="mdl-layout__tab">Выход</a>
        </div>
      </header>
      <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="overview">
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--4dp">
            <header class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white"></header>
            <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-card__supporting-text">
                <h4>О проекте</h4>
                Этот проект - тестовое решение для проверки некоторых аспектов интеграции проектов без наличия доступа к API. <br>
                На данном примере - Дневник.Ру. <br> DnevnikClient - облегченная версия Дневник.Ру, расчитанная на учеников, помещенная в рамки
                Material Design. Клиент предоставляет функционал ровно в такой мере, которая требуется ученикам. Без тяжелого обвеса вроде ReactJS,
                избыточных элементов интерфейса и функционала "соцсети". <br> Ничего лишнего. <br>
                Исходный код доступен в моем репозитории GitHub. <br>
                By @limitedeternity
              </div>
            </div>
          </section>
        </div>
        <div class="mdl-layout__tab-panel" id="diary">
          <section class="section--center mdl-grid mdl-grid--no-spacing">
            <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--4dp">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h4 class="mdl-cell mdl-cell--12-col">Дата</h4>
                <form action="/dnevnik" method="post" id="dnevnik-date">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input" type="text" name="day" id="day" pattern="^([1-9]|1[0-9]|2[0-9]|3[01])$" value="" autocomplete="off" />
                      <label class="mdl-textfield__label" for="day">День (1-31)</label>
                  </div>
                  <div style="display:block; height: 1px; clear:both;"></div>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input" type="text" name="month" id="month" pattern="^([1-9]|1[012])$" value="" autocomplete="off" />
                      <label class="mdl-textfield__label" for="month">Месяц (1-12)</label>
                  </div>
                  <div style="display:block; height: 5px; clear:both;"></div>
                  <div id="children_out"></div>
                  <button type="submit" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--primary">
                      <i class="material-icons">arrow_forward</i>
                      <span class="visuallyhidden">Next</span>
                      <span class="mdl-button__ripple-container">
                          <span class="mdl-ripple is-animating" style="width: 160.392px; height: 160.392px; transform: translate(-50%, -50%) translate(14px, 16px);"></span>
                      </span>
                  </button>
                </form>
              </div>
            </div>
          </section>
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--4dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing" id="dnevnik-out">
                <h4 class="mdl-cell mdl-cell--12-col">Дневник</h4>
                    <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                        <i class="material-icons mdl-list__item-avatar mdl-color--primary" style="font-size:32px; padding-top:2.5px; text-align:center;"></i>
                    </div>
                    <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                        <h5>Данные отсутствуют.</h5>
                        Похоже, что Вы еще ничего не запросили. <br>
                        Но мы можем исправить это. <br>
                        Заполните форму выше, чтобы получить данные за конкретный день. <br>
                        Или отправьте пустую форму, чтобы получить данные за сегодня. <br>
                    </div>
                </div>
            </div>
          </section>
        </div>
        <div class="mdl-layout__tab-panel" id="stats">
          <section class="section--center mdl-grid mdl-grid--no-spacing">
            <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--4dp">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h4 class="mdl-cell mdl-cell--12-col">Период</h4>
                <form action="/stats" method="post" id="dnevnik-stats">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input" type="text" name="term" id="term" pattern="^([1-4]{1})$" value="" autocomplete="off" />
                      <label class="mdl-textfield__label" for="term">Семестр/Четверть (1-4)</label>
                  </div>
                  <div style="display:block; height: 5px; clear:both;"></div>
                  <div id="children_out"></div>
                  <button type="submit" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--primary">
                      <i class="material-icons">arrow_forward</i>
                      <span class="visuallyhidden">Next</span>
                      <span class="mdl-button__ripple-container">
                          <span class="mdl-ripple is-animating" style="width: 160.392px; height: 160.392px; transform: translate(-50%, -50%) translate(14px, 16px);"></span>
                      </span>
                  </button>
                </form>
              </div>
            </div>
          </section>
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--4dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing" id="stats-out">
                <h4 class="mdl-cell mdl-cell--12-col">Статистика</h4>
                    <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                        <i class="material-icons mdl-list__item-avatar mdl-color--primary" style="font-size:32px; padding-top:2.5px; text-align:center;"></i>
                    </div>
                    <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                        <h5>Данные отсутствуют.</h5>
                        Похоже, что Вы еще ничего не запросили. <br>
                        Но мы можем исправить это. <br>
                        Заполните форму выше и отправьте ее. <br>
                        Или отправьте пустую форму, чтобы получить данные за текущий период. <br>
                    </div>
                </div>
            </div>
          </section>
        </div>
        <div class="mdl-layout__tab-panel" id="summary">
          <section class="section--center mdl-grid mdl-grid--no-spacing">
            <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--4dp">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h4 class="mdl-cell mdl-cell--12-col">Запрос</h4>
                <form action="/summary" method="post" id="dnevnik-summary">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                  <div style="display:block; height: 5px; clear:both;"></div>
                  <div id="children_out"></div>
                  <button type="submit" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--primary">
                      <i class="material-icons">arrow_forward</i>
                      <span class="visuallyhidden">Next</span>
                      <span class="mdl-button__ripple-container">
                          <span class="mdl-ripple is-animating" style="width: 160.392px; height: 160.392px; transform: translate(-50%, -50%) translate(14px, 16px);"></span>
                      </span>
                  </button>
                </form>
              </div>
            </div>
          </section>
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--4dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing" id="summary-out">
                <h4 class="mdl-cell mdl-cell--12-col">Итоговые</h4>
                    <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                        <i class="material-icons mdl-list__item-avatar mdl-color--primary" style="font-size:32px; padding-top:2.5px; text-align:center;"></i>
                    </div>
                    <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                        <h5>Данные отсутствуют.</h5>
                        Похоже, что Вы еще ничего не запросили. <br>
                        Но мы можем исправить это. <br>
                        Просто отправьте форму выше. <br>
                    </div>
                </div>
            </div>
          </section>
        </div>
      </main>
    </div>
    <script type="text/javascript" src="/js/dnevnik.operator.js"></script>
    <script type="text/javascript" src="/js/material.min.js"></script>
  </body>
</html>
